@import 'nib'
@import './lib/var'
@import './lib/reset'
.logo
  width 60px
  height 60px
.loading
  width 80px
  height 80px

@import './lib/index'
.titulo1
  padding 1rem
  font-size 18pt
.contenido
  padding 0 1rem 1rem 1rem
@import './lib/responsive'
@import './queries/hito480'
@import './queries/hito480-800'
@import './queries/hito800-1200'

@media (min-width: 1366px)
  header
    max-width 1366px
    max-height 76.8px
  section
    max-width 1366px
    max-height 537.6px
  footer
    max-width 1366px
    max-height 92.16px
  .img-cont-home
    max-width: 190px
    max-height: 190px
  .caption-img-home
    max-width: 190px
  #buscador-home
    border-spacing 5px

@import './home/home'
@import './home/productos'
@import './home/productos-responsive'
@import './Categorias/cat'
