$color = $grupo1
$tituloFondo=lavender

#buscador-home:hover
  -webkit-box-shadow: 10px 10px 42px 10px rgba(0,64,21,1);
  -moz-box-shadow: 10px 10px 42px 10px rgba(0,64,21,1);
  box-shadow: 10px 10px 42px 10px rgba(0,64,21,1);

.titulo-home
  margin-top: 5px
  font-size 14pt
  padding: 10px
  text-align center
  text-shadow 3px 2px 2px rgba(150, 150, 150, 0.95)
  line-height 15pt

.hero-home,.copy-home-cta
  font-size 10pt
  padding: 0 5px 0px 5px
  text-align justify
  letter-spacing +1px
  line-height 12pt

.features
  display flex
  justify-content: space-around;
.feature
  width: 55px
  height: 55px

.caption-img-home
  display: none;

.img-cont-home
  width: 45px
  height: 45px
  background-color: #8C9B57
  padding: 5px
  border-radius: 5px

.img-h
  width: 100%
  height: 100%
  background-repeat:no-repeat;
  background-size:cover;

.feature0
  background-image: url("img/productos.jpg")
.feature1
  background-image: url("img/categorias.jpg")
.feature2
  background-image: url("img/contacto.jpg")
.feature3
  background-image: url("img/mapa.jpg")

.circulo {
 width: 90px;
 height:90px;
 border-radius: 50%;
 background-color: #8C9B57;
 opacity: 0.65
 position: fixed;
 bottom: 60px;
 right: 12px;
 z-index: 2
}

.circulo.enfasis {
 opacity: 1
 z-index: 2
}

.lupa{
  position: absolute;
  top: 0
  right: 0
  left: 0
  bottom: 0
  margin:auto;
  background-size: contain;
  z-index: 2
}
.buscador{
  border: 10px solid #8C9B57
  border-right: 25px solid #8C9B57
  height: 40px
  position: fixed;
  bottom: 70px;
  right: 40px;
  width: 0
  background: white;
  opacity: 0
  border-radius: 5px
  padding: 5px
  font-family: Roboto
  z-index: 2
  transition: all 1s ease;
  padding-left: 10px
}
.buscador.mostrar{
  padding-left: 10px
  right: 70px;
  width: 60vw
  opacity: 1
  z-index: 2
}
header.solapar{
  z-index: 0
}

@media (min-width: 481px)

  .titulo-home
    margin-top: 20px
    padding-right: 40px
    width: 80%
    font-size 16pt
    letter-spacing +0.5px

  .hero-home,.copy-home-cta
    padding-right: 40px
    width: 80%
    font-size 12pt

  .features
    width: 80%


  .feature
    width: 65px
    height: 85px

  #buscador-home
    width: 80%
    height:40px;
    border-radius: 5px;
    margin-left: 5px
    background-color: #8C9B57;
    display: table;
    border-collapse:separate;
    border-spacing:5px;

  .buscador{
    display: table-cell;
    position: static;
    width: 100%
    opacity: 1
    border: none
    padding: 0
    padding-left: 10px
  }

  .circulo {
    display: table-cell;
    position: static;
    border-radius: 5px
    background-color:  #8C9B57
    height: 40px;
    width: 40px
    opacity: 1
  }

  .lupa{
    width: 40px
    height: 40px
    position: static;
    vertical-align: middle;
    padding-left: 10px
  }

  .img-cont-home
    width: 55px
    height: 55px
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px

  .caption-img-home
    width: 65px;
    display: block;
    font-size: 10pt;
    background-color: #ededed

  .normal
    display: none;

  .pClave
    display: block;
    width: 65px
    text-align: center;
    text-transform: capitalize;

@media (min-width: 641px)


  .feature
    width: 13vw
    padding: 5px
    height: auto;

  .img-cont-home
    width: 13vw
    height: 13vw
    margin-left: -5px

  .caption-img-home
    width: 13vw;
    padding: 0 5px 0 5px
    display: block;
    font-size: 12pt;
    margin-left: -5px

  .pClave
    width: 13vw

  .titulo-home
    padding-top: 0

@media (min-width: 801px) and (max-width: 1200px)

  .hero-home,.copy-home-cta,.features,#buscador-home,.titulo-home
    width: 95%
    margin-left: 15px
    margin-right: 15px

  .hero-home,.copy-home-cta
    margin-top: 2px
    margin-bottom: 2px
  .feature
    width: 100px

  .img-cont-home
    width: 100px
    height: 100px

  .caption-img-home
    display: table;
    width: 100px
    font-size: 10pt
    height: 6vw
    text-align: center;

  .text-conten
    display: table-cell;
    vertical-align: middle;

  .pClave
    display: inline;
    text-transform: none;

  .normal
    display: inline;

  .circulo
    width: 30px;
    height: 30px;

  #buscador-home
    border-spacing: 5px;

@media (min-width: 1201px) and (max-width: 1365px)

  .features
    width: 68%;
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 15px
    margin-right: 15px

  .hero-home,.copy-home-cta,.titulo-home
    width: 95%
    margin-left: 15px
    margin-right: 15px

  .hero-home,.copy-home-cta
    margin-top: 2px
    margin-bottom: 2px

  .feature
    width: 100%
    padding: 5px
    margin: 5px


  .img-cont-home
    width: 120px
    height: 120px

  .caption-img-home
    display: table;
    width: 120px
    font-size: 10pt
    height: 6vw
    text-align: center;

  .text-conten
    display: table-cell;
    vertical-align: middle;

  .pClave
    display: inline;
    text-transform: none;

  .normal
    display: inline;

  .circulo
    width: 30px;
    height: 30px;

  #buscador-home
    border-spacing: 5px;
    margin-left: 15px
    margin-right: 15px

  .copy-home-cta
    display: inline-block;
    width: 24%;
    padding: 0;
