@media (max-width: 1024px)
  .img-content-producto
    width: 100%;
    height: 70%;
  .contenedor-caption-producto
    width: 100%;
    height: 29%;
    overflow-y: scroll;
  .nombre-producto h1
    font-size: 16pt
  .descripcion-producto h2
    font-size: 14pt
  .detalle-producto
    font-size: 12pt
  .tabla-producto, .descripcion-producto, .detalle-producto
    padding-top: 0.2em;


@media (max-width: 800px)
  .img-content-producto
    margin-top: 1em;
    width: 70vw;
    height: 32vw;
  .img-producto
    height: 30vw;
    width: auto;

@media (max-width: 800px)
  .nombre-producto h1
    font-size: 14pt
  .descripcion-producto h2
    font-size: 12pt
  .detalle-producto
    font-size: 10pt
