.img-content-producto
  height: 100%;
  width: 60%;
  background-color: #CCC;
  position: relative;
  display: inline-block;
.img-producto
  position: absolute;
  height: 80%;
  width: auto;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.75);

.contenedor-caption-producto
  width: 39%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
.tabla-producto
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  height: 100%;
.nombre-producto
  //background-color: #AAA;
  text-align: center;
  font-weight: bold;
.nombre-producto h1
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
.descripcion-producto
  //background-color: #AAB;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
  padding-top: 1em;
.descripcion-producto h2
  font-family: 'Roboto', sans-serif;
.detalle-producto
  //background-color: #AAC;
  padding: 1em;
  height: 100%;
  padding-top: 1em;

.atras
  display: block;
  text-align: center;
.spnAtras

  margin-left: -4px
  color: black
  padding 0 5px 0 5px


.atras:hover
  border-radius: 1em;
  box-shadow: 0 0 15px #ddd;

.triangulo
  border-style: solid
  border-width: 21px
  width: 0
  height: 0
  display: inline-block
  vertical-align: middle

.triangulo>div

	border-style: solid
	border-width: 10px
	width: 0
	height: 0
	position: relative

.triangulo-left
	border-color: transparent black transparent transparent

.triangulo-left>div
	border-color: transparent white transparent transparent
	top: -10px
	left: 1px
