@media (max-width:480px)
  .icon
    display inline-block
    width 1em
    height 1em
    fill currentColor

  header
  section
  footer
    height auto

  article
    margin-top 190px
    height auto
    margin-left 30px
    margin-bottom 70px
    z-index 0

  /*Esta primera parte corresponde al rediseño del header*/
  header
    position fixed
    z-index 1
    & caja1
      width: 100%;
      height: 100%;
      & #idimg
      & #textologo
      & #botonmenu
          display inline-block
          text-align center

        #textologo
          height 100%
          width auto
          padding-left 0
        #idimg
          margin 0 auto
          width 100%
          & img
            width 64px
            height 64px
        #botonmenu
          width 100%
          height 100%
          min-width 50px
          min-height 50px
          vertical-align bottom
          text-align right
          padding-right 5px
          & a svg
            width 40px
            height 40px
      /* navegador */
      /*ocultar*/
    & nav
    & #separador
      position absolute
      top -1000px
      left -1000px
      height 0px
      width 0px
      z-index -1
      /*Como aparecera cuando haga clic*/
    & nav.open
      position fixed
      top auto
      left auto
      right 20px
      z-index 999
      width 50vw
      height auto
      padding 0
      margin 0
      background-color rgba(256,256,256,.7)
    & nav div
      text-transform capitalize
      position relative
      width 100%
      height 100%
      border-style solid
      border-color #b9d1c4
      border-width 1px
      border-radius 10px
      & ul li
        display block
        width 100%
        height 2em
        & a
          width 100%
          display block
          padding-top 2.5px
          margin-top 0px
          color #8C9B57
          font-size 1.1em
          height 2em
          &:hover
            width 100%
            padding-top 2.5px
            margin-top 0px
        &:hover
          width 100%
          background url("./img/boton5.png") top repeat-y, #EDEDED
          background-size contain, cover
          height 2em
    #separador
      clear both
      height 0
      bottom 0
      width 0

  /*Esta segunda parte corresponde al rediseño del Sidebar*/
  section
    & sidebar
      position fixed
      top 180px
      left 0px
      height 50vh
      &.open
        z-index 90
        overflow visible
      & #btnProductosMenu caja
        margin-top 0px
      & ul
        margin-left 20px
        padding-top 1.2em
        margin-top 1.2em
        position absolute
        top -1000px
        left -1000px
        height 0px
        width 0px
        z-index -1
        &.open
          position absolute
          float left
          top auto
          left auto
          height auto
          width 45vh
          background-color rgba(256,256,256,.7)
          padding-bottom 30px
          border-top-right-radius 10px
          border-bottom-right-radius 10px

      & a caja
        margin-left auto
        margin-right auto
        position absolute
        display block
        top 50px
        left 0
        text-align center
        background-color midnightblue
        text-transform uppercase
        font-weight bold
        width 30px
        height 200px
        color white
        box-shadow 0.25em 0.25em 0.15em #888888
        border-radius 0.25em
        & div
          width 20px
          word-wrap break-word
          text-align center
          vertical-align middle
          padding-top 5px
          margin-top 5px
          padding-left 2px
          margin-left 2px
          color white

  #flecha
      width 0
      height 0
      border-left 10px solid midnightblue
      border-top 10px solid transparent
      border-bottom 10px solid transparent
      position absolute
      display block
      top 140px
      left 30px

  /*Formulario contactos*/
  #contacto
    height auto
    & h1
      font-size 12pt
      padding-bottom 10px
    & h2
      font-size 9pt
      padding-bottom 0
    & span
      font-size 8pt
    & label
      font-size 10pt

  #emailC
    text-indent 100%
    white-space nowrap
    overflow hidden
    display block
    position absolute
    top -50px
  #emailS
    margin-top 0
    padding-top 0
    margin-left 30px
  #direccionC
    text-indent 100%
    overflow hidden
    display block
  #contacto
  #datos
  #direccionS
    display block
    text-align center
    background-color #e8e8e8
    font-size 10pt
    padding-top 5px
    padding-bottom 5px

  /*formulario mapa*/
  #empresa
    padding-top 5px
    height auto
    & #mapa
      position relative
      height 50vh
      width 100%
      border-radius 2em
      margin-bottom 0px
      padding-bottom 0px
    & #derecho
      display block
      position relative
      float none
      width 100%
      height auto
      margin-bottom 5px
      padding-bottom 5px
      & #acerca
      & #valores
        width 99%
        height auto
        border 0.15em solid #ddd
        border-radius 2em
        padding-top 10px
        padding-bottom 10px
        margin 0px
      & #acerca
        margin-top 2.5px
      & #valores
        margin-top 5px
        margin-bottom 30px
      & #acerca h1
      & #valores h1
        margin 0px
        font-size 10pt
      & #acerca p
      & #valores p
        margin-top  10px
        font-size 8pt

  /*Articulo*/
  .celda
    width 43%
    height 135px
    display inline-block
    margin 0 auto
  div
    &.nom
    &.desc
      width 80%
    &.nom
      font-size 12pt
    &.desc
      font-size 8pt
      text-transform lowercase
    &.img img
      width 80px
      height 80px
      margin-right 15px

  #desplazamiento
    position fixed
    float none
    bottom 50px
    left 35px
    background-color rgba(256,256,256,.8)
    height 25px
    width 80%
    & #barrainferior
      width 100%
      height 25px
      display flex
      flex-direction row
      justify-content center
      text-align center
    & div
      & a span
        width 25px
        height 100%
        padding 0
        font-size 25px
      & pag
        line-height 25px
        font-size 10pt
        width 100px
        padding 0

  /*footer*/
  footer
    position fixed
    bottom 0
    right 0
    width 100vw
    font-size 8pt
