$grupo1=#004015
$fuenteDef=$grupo1
$fondoDef=$grupo1
$fuenteNegro=black
$textSombraBlanco=white
$cajaSombraBlanco=white
$fondoBlanco=white
$textBlanco=white
$grisColorDDD=#ddd
$grisColorED=#ededed
$grisColor3=#d6ced6
$gris8=#888
$verde1=#8C9B57
$verde2=#80CEB9
//fuentes
$titFont='Lato', sans-serif
$logoFont='Roboto Slab', serif
$bodyFont='Roboto', sans-serif
